.wrapper {
   padding: 50px;
   height: 200px;

   display: grid;
   grid-template-columns: 1fr;
   justify-items: stretch;
   align-items: center;
   row-gap: 50px;

   color: rgba(240, 240, 240, 0.4);
   background-color: rgb(30, 30, 30);

   a {
      text-decoration: none;
   }

   ul {
      margin: 0;
      padding: 0;

      list-style: none;

      &:first-child {
         display: flex;
         justify-content: space-between;

         li {
            padding: 10px;
            border-bottom: 2px solid rgba(240, 240, 240, 0);
            transition: all 0.2s ease-in-out;

            a {
               padding: 25px;

               font-size: 18px;
               color: rgba(240, 240, 240, 0.6);
               transition: all 0.2s ease-in-out;
            }

            &:hover {
               border-bottom: 2px solid rgba(240, 240, 240, 1);

               a {
                  color: rgba(240, 240, 240, 1);
               }
            }
         }
      }

      &:last-child {
         display: grid;
         grid-template-columns: repeat(3, 1fr);
         column-gap: 25px;
         row-gap: 25px;
         text-align: center;

         a {
            padding: 25px;
            color: rgba(240, 240, 240, 0.4);
            transition: all 0.2s ease-in-out;

            &:hover {
               color: rgba(240, 240, 240, 1);
            }
         }
      }
   }

   div {
      display: flex;
      justify-content: space-between;

      span {
         display: flex;
         justify-content: center;
         align-items: center;
      }

      @media screen and (max-width: 1200px) {
         flex-direction: column;

         span {
            margin-bottom: 50px;
         }
      }
   }

   @media screen and (max-width: 1200px) {
      height: 250px;
   }
}
